/build/
/build-*/
/bin/
/lib/
*.o
*.a
*.so
*.dll
*.rtf

/.vscode/


CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
compile_commands.json


moc_*.cpp
ui_*.h
qrc_*.cpp

.DS_Store

Thumbs.db